/*******************************************************************************
 								 html & body
********************************************************************************/
html,
body {
    background: #F7F7F7;
    height: 100%;
    width: 100%;
    font-family: $w-font-default;
}

/*******************************************************************************
 						 main-containers/app-containers
********************************************************************************/
#app-content, #appContainer{
    height: 100%;
    width: 100%;
}

#app-content.app-background{
    // background: $w-img-background-app;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

// theme included at EOF for heritage reasons
