.warm-component.w-array.w-column {
    width: 100%;
    li {
        width: 100%;
        &.w-column-titles {
            font-family: $w-font-main;
            font-size: 15px;
            font-weight: normal;
            color: $w-color-main-headings1;
            display: inline-flex;
            height: 25px;
            line-height: 25px;
            border-bottom: 1px solid $w-color-main-border;
            padding-left: 10px;
            box-sizing: border-box;
            .w-column-title {
                display: inline-block;
                padding-left: 10px;
                box-sizing: border-box;
            }
        }
        &.w-line-container {
            font-family: $w-font-main;
            font-size: 15px;
            font-weight:500;
            color: $w-color-main-text;
            display: inline-flex;
            height: 60px;
            line-height: 40px;
            border-bottom: 1px solid $w-color-main-border;
            padding-left: 10px;
            box-sizing: border-box;
            .w-line-elem {
                margin: 10px 0 10px 0;
                display: inline-block;
                border-left: 2px solid $w-color-main-border;
                padding-left: 10px;
                box-sizing: border-box;
            }
        }
    }
}
