.w-toasts.w-simple{
    background: $w-color-main;
    font-family: $w-font-secondary;
    pointer-events: all;
    box-shadow: 0px 0px 1px rgba(0, 0 ,0, 0.5);
    margin: 5px 0px;
    min-height: 50px;
    line-height: 20px;
    color: $w-color-main-inverted;
    font-weight: 300;
    padding-left: 25px;
    padding-top: 8px;
    border-radius: 3px;
    position: relative;
    &:hover{
        cursor: pointer;
    }
    &.error{
        background: $w-color-error;
    }
    &.success{
        background: $w-color-success;
    }
    &.warning{
        background: $w-color-warning;
    }
    &.info{
        background: $w-color-info;
    }
}

.toast-anim-enter {
    opacity: 0.00 !important;
    left:150px;
    transition: all 0.3s;
}
.toast-anim-enter.toast-anim-enter-active {
    opacity: 1 !important;
    left:0px;
}

.toast-anim-leave {
    opacity: 1 !important;
    left:0px;
    transition: all  0.3s;
}
.toast-anim-leave.toast-anim-leave-active {
    opacity: 0.00 !important;
    left:150px;
}
