.warm-component.w-form.w-standard {
    & .warm-input-email,
    & .warm-input-text,
    & .warm-input-password {
        background-color: $w-color-background-inputs;
        line-height: 35px;
        width: 100%;
        color: $w-color-input;
        &.invalid {
            box-shadow: 0 0 1px 2px $w-color-error;
        }
    }
    & > div {
        position: relative;
    }
    & .warm-input-checkbox {
        display: none;
        & + label {
            padding-left: 45px;
            line-height: 55px;
            transition: all 0.2s;
            font-size: 12px;
            color: $w-color-text-inputs;
            &:hover {
                cursor: pointer;
            }
        }
        & + label:before {
            content: '';
            position: absolute;
            left: 10px;
            top: 15px;
            width: 25px;
            height: 25px;
            border: 1px solid $w-color-main;
            background-color: $w-color-background-inputs;
            border-radius: 3px;
        }
        &:checked + label:after {
            content: '\2713';
            position: absolute;
            top: 18px;
            left: 13px;
            font-size: 25px;
            line-height: 0.8;
            color: $w-color-main;
        }
    }
    & input {
        border-radius: 5px;
        outline: none;
        border: none;
        text-indent: 5px;
        margin-bottom: 10px;
        box-shadow: 0 0 1px 1px #A1A1A1;
        &:focus {
            color: $w-color-main;
            box-shadow: 0 0 1px 2px $w-color-main;
        }
    }
    & button {
        background-color: $w-color-main;
        outline: none;
        border: none;
        border-radius: 5px;
        color: $w-color-main-text;
        width: 100%;
        height: 45px;
        font-size: 17px;
        margin: 0 auto;
        margin-top: 10px;
        &:hover {
            box-shadow: 0 0 1px 1px $w-color-main;
            cursor: pointer;
        }
    }
}
