.warm-component.w-block.w-panel {
    font-family: $w-font-main;
    height: 100%;
    width: 300px;
    transition: 1s;
    overflow:hidden;
    margin: auto;
    &.hide {
        width: 0px;
        .panel-head {
            margin-left: -300px;
        }
        .panel-menu {
            margin-left: -300px;
        }
        .panel-body {
            margin-left: -300px;
        }
    }
    .panel-head {
        height: 300px;
        background-color: $w-color-main;
        transition: 1s;
    }
    .panel-menu {
        height: 80px;
        transition: 1s;
        li {
            display: inline-block;
            height: 80px;
            line-height: 70px;
            width: 80px;
            background-color: #fff;
            box-sizing: border-box;
            border-left: 1px solid $w-color-main-border;
            border-right: 1px solid $w-color-main-border;
            border-top: 2px solid $w-color-main-border;
            border-bottom: 2px solid $w-color-main-border;
            transition: 0.2s;
            img {
                display: inline-block;
                vertical-align: middle;
                margin: auto;
            }
            &.panel-targeted {
                border-bottom: 5px solid $w-color-main;
            }
            &:hover {
                cursor: pointer;
                border-bottom: 5px solid $w-color-main;
            }
        }
    }
    .panel-body {
        padding: 10px;
        height: 100%;
        min-height: 200px;
        transition: 1s;
        background-color: #fff;
    }
}
