.w-block.w-surface {
    overflow: hidden;
    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    height: auto;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 3px;
    font-family:$w-font-secondary;
    .w-surface-title
    {
        line-height: 35px;
        min-height: 35px;
        padding-left: 10px;
        text-align: left;
        border-bottom: 1px solid $w-color-border-soft;
        border-left: 5px solid;
        padding-right: 10px;
        h1 {
            font-size: 15px;
            font-weight: 400px;
        }
    }
    .w-surface-content
    {
    }
}
