/*----------------------  COLORS  ---------------------------------------------*/
$w-color-main : #EB573B;
$w-color-main-text : #FDFEFE;

$w-color-background-login : #FDFEFE;
$w-color-background-inputs : #E5E5E5;
$w-color-background-error : #881820;
$w-color-background-success : #80C684;

$w-color-text-inputs : #A1A1A1;

/*----------------------  FONTS  ----------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);
$w-font-default: 'Source Sans Pro', sans-serif;

/*----------------------  IMAGES  ---------------------------------------------*/
$w-background-app: url("../img/astrolight-background.jpg") no-repeat center center fixed;
