/*----------------------  COLORS  ---------------------------------------------*/
$w-color-clear-blue : #59a7f0;
$w-color-dark-blue : #356590;
$w-color-main-theme : #EB573B;
$w-color-main-white : #FDFEFE;
$w-color-background-grey : #E5E5E5;
$w-color-grey-text : #A1A1A1;
$w-color-background-error : #881820;
$w-color-background-success : #80C684;

/*----------------------  FONTS  ----------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);
$w-font-default: 'Source Sans Pro', sans-serif;

/*----------------------  IMAGES  ---------------------------------------------*/
$w-background-app: url("../img/astrolight-background.jpg") no-repeat center center fixed;
