/*******************************************************************************/
/****  COLORS
/*******************************************************************************/
/*-----  MAIN  ------------------------------------------------------*/
$w-color-main : #FC6042;
$w-color-main-inverted : #FDFEFE;
$w-color-main-text : #444;
$w-color-main-border : #A1A1A1;
$w-color-main-headings : #8D8D8D;
$w-color-error : #CC3333;
$w-color-success : #86CC33;
$w-color-warning : #FCB941;
$w-color-info : #59A7F0;

/*-----  BORDRS  ----------------------------------------------------*/
$w-color-border-light : #d9d9d9;

/*-----  BACKGROUN  -------------------------------------------------*/
$w-color-background-inputs : #E5E5E5;

/*-----  TEXT  ------------------------------------------------------*/
$w-color-text-inputs : #8D8D8D;
$w-color-headings-light: #BBBBBB;

/*-----  BUTTONS  ---------------------------------------------------*/
$w-color-button-round : #fff;
$w-color-button-dot1 : #EB573B;
$w-color-button-dot2 : #fff;
$w-color-button-dot3 : #A1A1A1;

/*-----  LISTS  -----------------------------------------------------*/
$w-color-list-dot-title : #000;
$w-color-list-dot-sub : #A1A1A1;

$w-color-border-soft: #e0e0e0;

/*******************************************************************************/
/****  FONTS
/*******************************************************************************/
/*-----  IMPORT  ----------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

/*-----  DEFINE  ----------------------------------------------------*/
$w-font-main: 'Roboto', sans-serif;

/*******************************************************************************/
/****  IMG
/*******************************************************************************/
$w-img-background-button: url("") no-repeat center center;
