/*----------------------  COLORS  ---------------------------------------------*/
$clear-blue: #59a7f0;
$dark-blue: #356590;
$main-theme-color: #EB573B;
$main-white-color : #FDFEFE;
$grey-background : #E5E5E5;
$grey-text-color: #A1A1A1;
$error-background: #881820;
$success-background:#80C684;

/*----------------------  FONTS  ----------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);
$default-font: 'Source Sans Pro', sans-serif;
