.warm-button {
    outline: none;
    border: none;
    &.round {
        height: 130px;
        width: 130px;
        border-radius: 50%;
        background-color: #FFF !important;
        background: url("../img/astrolight-profile.png") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        &:hover {
            cursor: pointer;
        }
    }
}
