.w-button.w-dot {
    display: inline-flex;
    background-color: $w-color-main-inverted;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $w-color-main;
    vertical-align: middle;
    &.checked .main-dot {
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $w-color-main;
    }
    &:hover {
        cursor: pointer;
        & .main-dot {
            background-color: $w-color-main-border;
            width: 20px;
            height: 20px;
            border-radius: 17px;
            opacity: 0.5;
        }
    }
}
