.w-button.w-dot {
    display: inline-flex;
    background-color: $w-color-main-inverted;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid $w-color-main-border;
    .main-dot {
        margin: auto;
        width: 22px;
        height: 22px;
        border-radius: 22px;
        background-color: $w-color-main;
    }
    &:hover {
        cursor: pointer;
        width: 28px;
        height: 28px;
        border-radius: 25px;
        .main-dot {
            width: 20px;
            height: 20px;
            border-radius: 17px;
        }
    }
}
