.w-button.w-loadingSubmit {
    display: inline-block;
    font-family: $w-font-main;
    background-color: $w-color-main;
    color: $w-color-black-translucent;
    width: 50px;
    height: 50px;
    line-height: 53px;
    font-size: 17px;
    box-shadow: none;
    text-align: center;
    &:hover {
        cursor:pointer;
        box-shadow: inset 0 0 0px 2px rgba(0,0,0,0.1);
    }
    &.long{
        font-size: 13px;
        background-color: rgba(255,255,255,.4);
        height: 34px;
        margin: auto;
        color: white;
        border-radius: 2px;
        line-height: 34px;
        margin-right: 15px;
        width: 180px;
    }
}
