.w-button.w-simple {
    font-family: $w-font-main;
    color:#FFF;
    font-weight: 300;
    outline: none;
    border: none;
    background-color: $w-color-main;
    box-shadow: 0px 0px 1px rgba(0,0,0,.5);
    border-radius: 3px;
    font-size: 15px;
    font-family: $w-font-light;
    &:hover{
        box-shadow: inset 0px 0px 1px rgba(0,0,0,.8);
        cursor: pointer;
    }
    &:active{
        box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);
    }
    &.long{
        font-size: 13px;
        background-color: rgba(255,255,255,.4);
        height: 34px;
        margin: auto;
        margin-right: 15px;
        width: 180px;
        box-sizing: border-box;
        line-height: 34px;
    }
}
