.w-list.w-accordion {
    font-family: $w-font-secondary;
    font-size: 16px;
    .w-accordion-void {
        height: 50px;
        line-height: 50px;
        color: rgba(0,0,0,.3);
        font-weight: 700;
        width: 100%;
        text-align: center;
        display: inline-block;
    }
    .w-accordion-headers-container {
        .w-accordion-loader {
            height: 250px;
            line-height: 250px;
            text-align: center;
        }
        .w-accordion-no-more {
            height:50px;
            line-height: 50px;
            padding-left: 35px;
            color: $w-color-error;
        }
        .w-accordion-header {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
            & .w-accordion-header-key {
                width:80%;
            }
            & .w-accordion-header-count {
                color: $w-color-main-headings;
            }
            .w-accordion-head {
                height:50px;
                background-color: #ffffff;
                position: relative;
                .w-accordion-more-button {
                    height: 35px;
                    width: 50px;
                    margin-left: 15px;
                    border-radius: 6px;
                    position: absolute;
                    right: 0px;
                    margin-top: 7px;
                    margin-right: 7px;
                    box-shadow: inset 0px 0px 1px rgba(0,0,0,0.6);
                    background-color: rgba(255,255,255,0.4);
                    color: rgba(0,0,0,.4);
                    font-weight: 600;
                    &:hover{
                        box-shadow: inset 0px 0px 2px rgba(0,0,0,0.6);
                    }
                }
                & > span{
                    line-height: 50px;
                    padding-left: 35px;
                    color: $w-color-black-translucent;
                    font-weight: 600;
                }
                // &:hover {
                //     background-color: #f5f5f5;
                //     cursor: pointer;
                // }
                & .w-accordion-header-count {
                    color: $w-color-black-translucent;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-weight: 200;
                }
            }
            &.closed {
                height:50px;
                overflow: hidden;
            }
            &.open {
                & .w-accordion-content {
                    .w-accordion-more-loader {
                        padding: 10px;
                        display: inline-flex;
                        width: 100%;
                        & > .w-composant-loader {
                            margin: auto;
                        }
                    }
                }
                & .w-accordion-header-count {
                    color: $w-color-black-translucent;
                }
            }
        }
        & .accordion-list-element:not(.container) {
            height:40px;
            overflow: hidden;
            line-height: 40px;
            padding-left: 35px;
            background-color: #ebebeb;
            border-bottom: 1px solid $w-color-border-soft;
            &:hover {
                cursor: pointer;
                box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);
            }
        }
        & .accordion-list-element.container {
            background-color: #FFF;
            border-bottom: 1px solid $w-color-border-soft;
            &:hover {
                cursor: pointer;
                box-shadow: inset 0px 0px 1px rgba(0,0,0,.5);
            }
        }
    }
}
