.w-list.w-horizontal {
    height: 67px;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        width: 0 !important;
    }
    &::-webkit-scrollbar-thumb {
        visibility : hidden;
    }
    & > ul{
        height: 50px;
        background-color: #fff;
        & .w-list-horizontal-element {
            font-family: $w-font-secondary;
            font-size: 15px;
            display: table-cell;
            height: 50px;
            white-space: nowrap;
            overflow-x: auto;
            color: $w-color-main-border;
            box-sizing: border-box;
            padding: 15px 10px 0px 10px;
            border-bottom: 0px solid $w-color-main-border;
            transition: border .2s, background .2s;
            &.selected{
                color: $w-color-black-translucent;
                border-bottom: 5px solid #A1A1A1;
                font-weight: bolder;
            }
            &:not(.selected):hover{
                border-bottom: 5px solid $w-color-main-border;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

}
