.warm-component.w-list.w-spoiler {
    width: 100%;
    li {
        width: 100%;
        .w-spoiler-title-container {
            display: inline-flex;
            width: 100%;
            height: 45px;
            background-color: $w-color-main;
            .w-spoiler-title {
                font-family: $w-font-main;
                width: calc(100% - 50px);
                color: $w-color-main-inverted;
                line-height: 45px;
                font-size: 18px;
                padding-left: 10px;
                box-sizing: border-box;
            }
        }
        .w-spoiled-content {
            width: calc(100% - 10px);
            overflow: scroll;
            max-height: 0;
            margin: 5px;
            transition: max-height 0.8s;
            &.active {
                max-height: 300px;;
            }
        }
    }
}
